/* style.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #a78bfa; 
    border-radius: 12px; */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #171520, #c4b5fd); /* light purple gradient */
    color: #141313;
}

h3 {
    margin-bottom: 10px;
    color: #141313;
}

#tasks {
    margin-bottom: 20px;

    max-width: fit-content;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #a78bfa; 
    border-radius: 12px;
    /* border: 2px solid #a78bfa; soft purple border */
    /* border-radius: 12px; */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #110d2b, #8b7fb1); 
    color: #2d2d2d;
}

#formContainer h2,
#updateFormContainer h2 {
    text-align: center;
    color: #131212; 
    margin-bottom: 15px;
}

#formContainer input[type="text"],
#updateFormContainer input[type="text"] {
    padding: 10px;
    border: 2px solid #a78bfa; 
    border-radius: 12px;
    background-color: #f5f3ff;
    color: #1f2937;
}

#formContainer button,
#updateFormContainer button {
     background-color: #ccbdec;
    color: purple;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

#formContainer button:hover,
#updateFormContainer button:hover {
    background-color: rgb(129, 92, 129)
}

    /* padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px; */


button {
    background-color: #ccbdec;
    color: purple;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(129, 92, 129)
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #a78bfa; /* soft purple border */
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #171520, #c4b5fd); 
    color: #141313;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formContainer,
#updateFormContainer {
    margin-top: 20px;
}

.project-card {
  background: linear-gradient(to bottom right, #4a4464, #c4b5fd); 
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.project-card p {
  margin: 4px 0;
  color: black;}
  